@model SGAR.AppWebMVC.Models.TiposVehiculo

@{
    ViewData["Title"] = "Editar tipo de vehiculo";
}

<h1><i class="bi bi-pen me-3"></i>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-4">
                    <label asp-for="Tipo" class="control-label required"></label>
                    <input asp-for="Tipo" class="form-control" />
                    <span asp-validation-for="Tipo" class="text-danger"></span>
                </div>
                <div class="form-group col-8">
                    <label asp-for="Descripcion" class="control-label required"></label>
                    <textarea asp-for="Descripcion" class="form-control"></textarea>
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
            </div>

            <div class="row mt-2">
                <div class="form-group col-1">
                    <input type="submit" value="Guardar" class="btn btn-success" />
                </div>
                <div class="col-1">
                    <a asp-action="Index" class="btn btn-info"><i class="bi bi-arrow-90deg-left"></i> Volver</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
