@model IEnumerable<SGAR.AppWebMVC.Models.Alcaldia>

@{
    ViewData["Title"] = "Menú";
}

<div class="d-flex justify-content-center">
<div class="menu content-center row mx-auto">
    <div class="col-2 p-4">

        <br />
        <div class="contenedor-boton">
            <button asp-action="Index" asp-controller="Alcaldia" class="boton-mapache">Gestionar Vehículos</button>
            <img src="~/css/orejaIz.png" alt="Oreja izquierda" class="oreja oreja-izquierda">
            <img src="~/css/orejaDe.png" alt="Oreja derecha" class="oreja oreja-derecha">
        </div>

        <br />
        <div class="contenedor-boton">
            <button asp-action="Index" asp-controller="Alcaldia" class="boton-mapache">Gestionar Horarios</button>
            <img src="~/css/orejaIz.png" alt="Oreja izquierda" class="oreja oreja-izquierda">
            <img src="~/css/orejaDe.png" alt="Oreja derecha" class="oreja oreja-derecha">
        </div>

        <br />
        <div class="contenedor-boton">
            <button asp-action="Index" asp-controller="Alcaldia" class="boton-mapache">Gestionar Operadores</button>
            <img src="~/css/orejaIz.png" alt="Oreja izquierda" class="oreja oreja-izquierda">
            <img src="~/css/orejaDe.png" alt="Oreja derecha" class="oreja oreja-derecha">
        </div>

        <br />
        <div class="contenedor-boton">
            <button asp-action="Index" asp-controller="Alcaldia" class="boton-mapache">Gestionar Supervisores</button>
            <img src="~/css/orejaIz.png" alt="Oreja izquierda" class="oreja oreja-izquierda">
            <img src="~/css/orejaDe.png" alt="Oreja derecha" class="oreja oreja-derecha">
        </div>
    </div>
</div>
</div>


