@{
    ViewData["Title"] = "Home Page";
}




<div style="display: flex; align-items: center;">
    <img src="~/css/sgarlogo.jpeg" alt="Imagen de bienvenida" style="max-width: 300px; margin-right: 20px;" />
    <div>
        <h1>¡Bienvenido a S.G.A.R!</h1>
        <p>Sistema de Gestión de Aseo y Residuos.</p>
    </div>
</div>