@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="container mt-5 text-center">
    <img src="/css/errorsgar.jpeg" alt="Página en Construcción" class="img-fluid mb-4" style="max-width: 300px;">
    <h1 class="mb-3">Lamentamos la molestia</h1>
    <p class="lead">La página/vista aún no está hecha o se encuentra en construcción. Intenta después.</p>
</div>