@model SGAR.AppWebMVC.Models.Horario

@{
    ViewData["Title"] = "Calendario de Horarios";
}
@*<p>@Html.Raw(ViewBag.Horarios)</p>*@

<!-- FullCalendar -->
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"></script>

<div id="calendar"></div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                locale: 'es',
                initialView: 'dayGridMonth',
                events: @Html.Raw(ViewBag.Horarios), // Carga los eventos desde el controlador
                eventColor: '#378006',
                buttonText: {
                    today: 'hoy',
                    month: 'mes',
                    week: 'semana',
                    day: 'dia'
                },
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,dayGridWeek,dayGridDay'
                },
                eventRender: function(info) {
                    // Aquí puedes personalizar la apariencia de los eventos, si lo deseas
                    info.el.querySelector('.fc-title').innerText = info.event.title;
                }
            });
            calendar.render();
        });
    </script>
}
