@model SGAR.AppWebMVC.Models.Horario
@{
    ViewData["Title"] = "Crear Horario";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header text-center">
            <h5>Crear Horario</h5>
        </div>
        <div class="card-body text-center">
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label>Hora de Entrada</label>
                    <input asp-for="HoraEntrada" type="time" class="form-control" />
                    <span asp-validation-for="HoraEntrada" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Hora de Salida</label>
                    <input asp-for="HoraSalida" type="time" class="form-control" />
                    <span asp-validation-for="HoraSalida" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Días de la Semana</label>
                    <div>
                        <input type="checkbox" name="DiasSeleccionados" value="Lunes" /> Lunes
                        <input type="checkbox" name="DiasSeleccionados" value="Martes" /> Martes
                        <input type="checkbox" name="DiasSeleccionados" value="Miércoles" /> Miércoles
                        <input type="checkbox" name="DiasSeleccionados" value="Jueves" /> Jueves
                        <input type="checkbox" name="DiasSeleccionados" value="Viernes" /> Viernes
                        <input type="checkbox" name="DiasSeleccionados" value="Sábado" /> Sábado
                        <input type="checkbox" name="DiasSeleccionados" value="Domingo" /> Domingo
                    </div>
                   
                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-save"></i> Guardar</button>
                    <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
